:root {
    --main-color: #333336;
    --secondary-color: black;
    --text-color: #cdcdcd;
    --font-size-large: 1.5em;
    --azul-proyecto: #0756FF;
  }
  
  * {
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
  }

  body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: var(--secondary-color);
    overflow-y: scroll;
  }
  
  header {
    background-color: var(--main-color);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--secondary-color) 1px solid;
    z-index: 995;
  }
  
  #buscador-filtros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  
  #contenedor-filtros {
    background-color: var(--main-color);
    border-radius: 15px;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    color: var(--text-color);
    animation: fadeInSlide 0.5s ease-in-out;
  
  }
  
  /* Definir la animación de aparición */
  @keyframes fadeInSlide {
    0% {
      opacity: 0;
      transform: translateY(-20px);
      /* Comienza desde arriba */
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
      /* Llega a su posición original */
    }
  }
  
  /* #linea {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
  } */
  
  
  
  .filtros {
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.3s ease;
    border-radius: 5px;
    padding: 5px;
  }
  
  .filtros:hover {
    cursor: pointer;
  
    background-color: #beb8b8;
  
  
  }
  
  #buscador-filtros button {
    margin: 0;
  }
  
  
  
  #contenedor-buscador {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
    padding: 10px 10px;
    border-radius: 15px;
    width: 300px;
  
  }
  
  
  
  #contenedor-buscador input {
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: bold;
    border: 1px var(--main-color) solid;
    width: 70%;
  }
  
  #contenedor-buscador input:focus {
    outline: none;
  
  }

  .btn-csv {
    background-color: var(--azul-proyecto);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 5px;
    position: fixed;
    top: 85%;
    left: 90%;
    z-index: 998;
    transform: translate(-11%, -6%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  
  }
  
  .btn-csv:hover {
    background-color: #0056b3;
  }

  @media (max-width:800px) {

    .btn-csv {
      left: 80%;
      top: 80%;
      transform: scale(0.8);
    }

    
    
      #buscador-filtros {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
      }
    
      #contenedor-buscador {
        transform: scale(0.8);
      }
    
      footer {
        display: flex;
      }
    
      nav {
        display: none;
      }
    
      #contenedor-principal {
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        padding-bottom: 50px;
    
    
      }
    
      #contenedor-filtros {
        transform: scale(0.8);
      }
  }

  /* Estilos para el overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro semi-transparente */
    z-index: 1000;
    /* Justo debajo de la ventana */
    opacity: 0;
    pointer-events: none;
    /* Evita que el overlay interfiera con los clics */
    transition: opacity 0.3s ease;
}

#overlay.overlay-activo {
    opacity: 1;
    pointer-events: auto;
    /* Permite interactuar con el overlay cuando está activo */
}
#overlay.overlay-inactivo {
    opacity: 0;
    pointer-events: none;
}